<mat-card>
        <form class="example-form">
    <div class="to-fro">
    <mat-form-field class="example-full-width">
      <mat-label>Leaving from</mat-label>
      <input matInput placeholder="Select place" ></mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Going To</mat-label>
        <input matInput placeholder="" ></mat-form-field>
    </div>

        <mat-form-field class="example-full-width">
            <mat-label>Departing on</mat-label>
            <input matInput placeholder="dd-mm-yyyy" > </mat-form-field>

            <div class="example-button-row">
            <button mat-raised-button>Basic</button>
        </div>
        </form>
</mat-card>      

        